body{
    color: #414141; 
    background-color: #EEEEEE;
    font-size: 18px;  
    padding-inline: 5px;
}

h1 {
    padding: 0.05px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 420px;
}

ul{
    list-style-type: square;
}

p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 200px;
    margin-left: 420px;
}

h3{
    border-top: 3px solid #2b83ba;
    padding-top: 15px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: lighter;
}

h4{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: lighter;
    
}

em{
    font-weight: bold;
    font-style: italic;
}

li{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin-bottom: 8px;
}

